<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:widgets:csp" content="on">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Виртуальная арктика</title>
  <link rel="stylesheet" href="css/app.min.css">
  <meta property="og:title" content="Виртуальная Арктика">
  <!-- <meta property="og:type" content="article"> -->
  <meta property="og:headline" content="Виртуальная Арктика">
  <meta property="og:description" content="Добро пожаловать на самую северную часть России! Теперь у вас есть возможность увидеть её своими глазами">
  <meta property="og:image" content="http://arctic.neq4.com/images/share.jpg">
  <meta property="og:image:width" content="712" />
  <meta property="og:image:height" content="372" />
</head>
<body>

  <div class="invisible-before-full-load invisible">
    <arctic-app class="home" ng-class="[state.name]">

      <!-- Меню -->
      <arctic-menu ng-class="{opened: menu.opened }" ng-hide="slideshowActive">
        <ul>
          <li ng-class="{ 'active': state.name == 'about' }"><a ng-click="state.toggle('about');"><img src="images/icon-letter.svg">О проекте</a></li>
          <li ng-class="{ 'active': state.name == 'map' }"><a ng-click="state.toggle('map');"><img src="images/icon-pin.svg"><span class="text" mobile-text="Острова архипелага" desktop-text="Карта архипелага"></span></a></li>
          <li ng-class="{ 'active': state.name == 'places' }"><a ng-click="state.toggle('places');"><img src="images/icon-rosewind.svg">Интересные места</a></li>
          <li class="slideshow" ng-class="{ 'active': slideshow.active }"><a ng-click="slideshow.toggle()"><img src="images/icon-play.svg">Слайдшоу</a></li>
          <li class="fullscreen"><a ng-click="fullscreenPanorama();"><img src="images/icon-fullscreen.svg"></a></li>
        </ul>
        <toggle>
          <img class="open" src="images/icon-nav.svg">
          <img class="close" src="images/icon-close.svg">
        </toggle>
        <info>
          <island-title>о. <span class="island-name">{{arcticData.current.island}}</span></island-title>
          <island ng-click="state.toggle('island');" ng-class="{ 'active': state.name == 'island' }"><span class="fa fa-info"></span> Об острове</island>
          <share ng-click="state.toggle('share');" ng-class="{ 'active': state.name == 'share' }"><span class="fa fa-share-alt"></span> Поделиться</share>
          <arctic-progress></arctic-progress>
        </info>
      </arctic-menu>

      <!-- Страница панорамы -->
      <page class="panorama">
        <arctic-panorama id="arctic-panorama-container" data-swf="tour.swf" data-path="tour/"></arctic-panorama>
        <noscript><div  class="noscript">Ошибка:<br/><br/>Включите Javascript</div></noscript>
        <controls ng-hide="slideshowActive">
          <prev ng-click="panorama.prev()"><img src="images/icon-prev.svg">Предыдущая</prev>
          <next ng-click="panorama.next()">Следующая<img src="images/icon-next.svg"></next>
        </controls>
      </page>

      <!-- Оверлейная кнопка "клик по пустому месту" для возврата к панораме когда открывается что-то второго уровня и частично закрывающее экран. -->
      <div class="return-to-panorama" ng-click="state.go('panorama');"></div>

      <!-- Плашечка об острове и поделиться над панорамой -->
      <info>
        <island-title>о. <span class="island-name">{{arcticData.current.island}}</span></island-title>
        <island ng-hide="slideshowActive" ng-click="state.toggle('island');" ng-class="{ 'active': state.name == 'island' }"><span class="fa fa-info"></span> Об острове</island>
        <share ng-hide="slideshowActive" ng-click="state.toggle('share');" ng-class="{ 'active': state.name == 'share' }"><span class="fa fa-share-alt"></span> Поделиться</share>
        <arctic-progress></arctic-progress>
      </info>

      <!-- Страница: Стартовая -->
      <page class="home" ng-class="{'started': state.started}">
        <article>
          <header><img class="virtual-arctic" src="images/virtual-arctic.png" alt="Виртуальная Арктика"></header>
          <main>
            <p class="promo">Возможность увидеть своими глазами <br>самые северные российские территории</p>
            <p class="stats">
              <span><img src="images/icon-map.svg"> 11 островов</span>
              <span><img src="images/icon-photo.svg"> 244 панорамы</span>
            </p>
            <p class="actions">
              <a class="button green start" ng-click="state.go('panorama');"><span class="text" continue-text="Продолжить путешествие" start-text="Начать путешествие"></span></a>
              <a class="button blue map" ng-click="state.go('map');"><img class="icon" src="images/icon-rosewind.svg"> <span class="text" mobile-text="Список островов" desktop-text="Карта архипелага"></span></a>
            </p>
          </main>
          <footer>
            <div>Проект создан компанией <a href="http://neq4.ru" target="_blank">нек4</a> при участии</div>
            <div>Национального парка <a href="http://www.rus-arc.ru/" target="_blank">«Русская&nbsp;Арктика»</a>.</div>
            <div>Съемка произведена в августе 2013 года.</div>
          </footer>
        </article>
      </page>

      <!-- Страница: Карта -->
      <page class="map">
        <article>
          <close ng-click="state.toggle('map');"><img src="images/icon-close.svg"></close>
          <arctic-map>
            <div class="list-view">
              <h3>Острова архипелага «Земля Франца-Иосифа»</h3>
              <ul>
                <li data-id="гукера"><span>о. Гукера</span></li>
                <li data-id="нортбрук"><span>о. Нортбрук</span></li>
                <li data-id="луиджи"><span>о. Луиджи</span></li>
                <li data-id="куна"><span>о. Куна</span></li>
                <li data-id="столичка"><span>о. Столичка</span></li>
                <li data-id="виннер-нойштадт"><span>о. Виннер-Нойштадт</span></li>
                <li data-id="галля"><span>о. Галля</span></li>
                <li data-id="хейса"><span>о. Хейса</span></li>
                <li data-id="алджер"><span>о. Алджер</span></li>
                <li data-id="рудольфа"><span>о. Рудольфа</span></li>
                <li data-id="белл"><span>о. Белл</span></li>
              </ul>
            </div>
            <div class="map-view">
              <img src="images/map.svg">
            </div>
          </arctic-map>
        </article>
      </page>

      <!-- Страница: Интересные места -->
      <page class="places">
        <article>
          <close ng-click="state.toggle('places');"><img src="images/icon-close.svg"></close>
          <ul>
            <li ng-style="{ 'background-image': 'url('+place.image+')' }" ng-repeat="place in arcticData.interesting" ng-click="panorama.load({ xml: place.xml, hlookat: place.hlookat, vlookat: place.vlookat }); state.go('panorama');">
              <h3>{{place.title}}</h3>
            </li>
          </ul>
        </article>
      </page>

      <!-- Страница: О проекте -->
      <page class="about">
        <article>
          <close ng-click="state.toggle('about');"><img src="images/icon-close.svg"></close>
          <h1>О проекте</h1>
          <p>В Арктике произрастают карликовые кустарники, злаки, травы, лишайники и мхи. Низкие летние температуры обусловливают малое разнообразие видов и небольшие размеры растений. В Арктике нет деревьев, однако в теплой её части нередко встречаются кустарники, достигающие двух метров в высоту, а осока, мхи и лишайники образуют толстую подстилку. Арктическая пустыня — самая северная из природных зон — практически лишена растительности; преобладают клеточные растения — мхи и лишайники, изредка встречаются такие травянистые растения, как полярный мак.</p>

          <p>Арктика — место обитания целого ряда уникальных животных: овцебык, дикий северный олень, снежный баран, белый медведь. К травоядным обитателям тундры относятся: заяц — арктический беляк, лемминг, овцебык и дикий северный олень. Они являются пищей для песца и волка. Полярный медведь также является хищником, он предпочитает охотиться на морских животных со льда. Для холодных регионов эндемичны многие виды птиц и морских обитателей. Кроме того, в Арктике обитают росомахи, горностаи и длиннохвостые суслики.</p>

          <p><img src="images/about-project.jpg"></p>

          <p>Полярным летом в тундре гнездятся миллионы перелетных птиц. В морях Арктики обитают тюлени, моржи, а также несколько видов китообразных: усатые киты, нарвалы, косатки и белухи.</p>

          <p>Изменение климата грозит многим животным Арктики полным исчезновением. В наибольшей опасности находятся белые медведи, так как при сокращении площади морского льда животные вынуждены переходить на побережье, где их кормовая база меньше. Для популяции взрослых самцов смертность от голода может вырасти с 3—6 % до 28—48 %, если продолжительность летнего сезона вырастет со 120 до 180 дней. Кроме того, шансы самки встретить партнера в период размножения также зависят от площади морского льда и его фрагментации. Самцы ищут самок по их следам, и, по оценкам ученых, если эффективность поисков из-за рассеяния популяции по льду будет снижаться в четыре раза быстрее его площади, успешность спаривания снизится с 99 % до 72 %[2].</p>

          <p>По особенностям рельефа в Арктике выделяют: шельф с островами материкового происхождения и прилегающими окраинами материков и Арктический бассейн. Область шельфа занята окраинными морями — Баренцевым, Карским, Лаптевых, Восточно-Сибирским и Чукотским. Рельеф суши российской Арктики преимущественно равнинный; местами, особенно на островах, гористый. Центральная часть — Арктический бассейн, область глубоководных котловин (до 5527 м) и подводных хребтов.</p>

          <p>Особенности природы: низкий радиационный баланс, близкие к 0 °C средние температуры воздуха летних месяцев при отрицательной среднегодовой температуре, существование ледников и многолетнемёрзлых пород, преобладание тундровой растительности и арктических пустынь.</p>

          <p>Средние температуры самого холодного зимнего месяца — января — колеблются от −2…−4 °C в южной части Арктического района до −25 °C на севере Баренцева моря, западе Гренландского моря, в морях Баффина и Чукотском и от −32…−36 °C; в Сибирском районе, на севере Канадского и в прилегающей к нему части Арктического бассейна до −45…−50 °C в центральной части Гренландии. Минимальные температуры в этих районах иногда снижаются до −55…−60 °C, только в Арктическом бассейне они не опускаются ниже −45…−50 °C. При прорывах глубоких циклонов температура иногда повышается до −2…−10 °C. Средние температуры июля в Арктическом бассейне — 0…−1 °C[1].</p>

          <p>Ледовитость морских акваторий — около 11 млн км² зимой и около 8 млн км² летом.</p>
        </article>
      </page>

      <!-- Страница: Поделиться -->
      <page class="share">
        <article>
          <close ng-click="state.toggle('share');"><img src="images/icon-close.svg"></close>
          <div>&nbsp;</div>
          <info>
            <island-title>о. <span class="island-name">{{arcticData.current.island}}</span></island-title>
            <island ng-click="state.toggle('island');"><span class="fa fa-info"></span> Об острове</island>
            <share ng-click="state.toggle('share');" class="active"><span class="fa fa-share-alt"></span> Поделиться</share>
            <arctic-progress></arctic-progress>
          </info>
          <arctic-share>
            <div class="form-field">
              <label>Заголовок</label>
              <input type="text" ng-model="share.title">
            </div>
            <div class="form-field">
              <label>Описание</label>
              <textarea ng-model="share.description"></textarea>
            </div>
            <div class="form-field">
              <label>Поделиться в социальной сети</label>
              <share-links>
                <share-facebook ng-click="shareFB()" title="Facebook"><i class="fa fa-facebook"></i></share-facebook>
                <a ng-href="https://twitter.com/intent/tweet?text={{arcticData.share.description}}&url={{arcticData.share.shorturl}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a target="_blank" ng-href="http://vk.com/share.php?url={{arcticData.share.urlencode}}&title={{arcticData.share.title}}&description={{arcticData.share.description}}&image={{arcticData.share.image}}" title="ВКонтакте"><i class="fa fa-vk"></i></a>
                <a target="_blank" ng-href="https://plus.google.com/share?url={{arcticData.share.urlencode}}&title={{arcticData.share.title}}&description={{arcticData.share.description}}&image={{arcticData.share.image}}" title="Google+"><i class="fa fa-google-plus"></i></a>
                <!-- <a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img  src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+"/></a> -->
              </share-links>
            </div>
            <div class="form-field">
              <label>Прямая ссылка</label>
              <input type="text" ng-model="share.shorturl" class="url" onclick="return false;" onmouseup="return false;">
            </div>
          </arctic-share>
        </article>
      </page>

      <!-- Страница: Об острове -->
      <page class="island">
        <article>
          <close ng-click="state.toggle('island');"><img src="images/icon-close.svg"></close>
          <div>&nbsp;</div>
          <info>
            <island-title>о. <span class="island-name">{{arcticData.current.island}}</span></island-title>
            <island ng-click="state.toggle('island');" class="active"><span class="fa fa-info"></span> Об острове</island>
            <share ng-click="state.toggle('share');"><span class="fa fa-share-alt"></span> Поделиться</share>
            <arctic-progress></arctic-progress>
          </info>
          <island-text ng-class="{'show': arcticData.current.island == 'гукера'}">
            <p>Назван в честь Джозефа Гукера – английского ботаника и путешественника, сопровождавшего Джеймса Росса в экспедиции к Антарктиде в 1841 году.</p>
            <p>Самая северная точка острова — мыс Альберта Маркама, названный в честь британского исследователя сэра Альберта Гастингса Маркама, самая южная точка — мыс Сесиль-Хармсуорт, названный в честь жены британского журналиста и магната Альфреда Хармсуорта — Сесиль Хармсуорт. Самая западная точка острова — мыс Данди, самая восточная — мыс Альбанова.</p>
            <p>В северо-западной части острова находятся две незамерзающие бухты — бухта Юрия и бухта Тихая, названная так в связи с тем, что во время зимовки на острове Гукера экспедиции Георгия Седова было спокойно и безветренно, что не характерно для островов Арктики. Две бухты разделены между собой высокой (174 м) выступающей в море скалой Рубини. Скала, названная именем итальянского тенора, славится крупными, до 18 000 особей, птичьими базарами.</p>
            <p>В 1926 году на острове Гукера в районе бухты Тихая была построена самая северная на то время (80°20’ северной широты) железная дорога, соединявшая ангары полярной станции «Бухта Тихая» с побережьем. Она использовалась предположительно для транспортировки гидросамолётов из моря в ангары.</p>
            <p>В 1929 году на берегу бухты Тихая открылась первая на архипелаге советская научно-исследовательская станция. С этого времени остров Гукера стали регулярно посещать советские экспедиции.</p>
            <p>В июле 1931 года остров посещал дирижабль «Граф Цеппелин» в ходе программы по аэрофотосъёмке Арктики.</p>
            <p>В 1937 году на месте станции в бухте Тихая была построена арктическая обсерватория. Её первым руководителем стал известный исследователь Арктики Иван Папанин, возглавивший через год первую в мире дрейфующую станцию «Северный полюс».</p>
            <p>В 1957 году на вершине купола Чурляниса была построена метеостанция, ставшая первой такого рода на территории советской Арктики.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D0%B2_%D0%93%D1%83%D0%BA%D0%B5%D1%80%D0%B0" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'нортбрук'}">
            <p>Назван в честь графа Нортбрука, президента Королевского географического общества в 1890-1893 годах. Один из самых доступных островов архипелага.</p>
            <p>С конца XIX-го до начала XX века остров был основной базой полярных экспедиций. На западной части острова (ныне остров Юрия Кучиева), на небезызвестном мысе Флора есть крест, обелиск в память о членах экспедиции герцога Абруццкого.</p>
            <p>В 2006 году стало известно, что Нортбрук разделился на две части. В ходе экспедиции 2013 года информация подтвердилась: восточную и западную часть острова разделил пролив.</p>
            <p>Наивысшая точка острова достигает 344 метра в высоту. Мыс Лагерный является крайней северной точкой острова, мыс Баренца – крайней восточной точкой.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D1%82%D0%B1%D1%80%D1%83%D0%BA" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'луиджи'}">
            <p>Назван в честь итальянского путешественника, принца Луиджи Амедео.</p>
            <p>Сложен скалистыми породами. Почти полностью покрыт ледниками, свободны ото льда лишь скалы и маленький участок рядом с мысом Петигакс у бухты Бурке на севере острова.</p>
            <p>Высшая точка — 468 метров, расположена около центра острова на вершине ледникового купола. Высшая точка земли — 295 метров.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D0%B2_%D0%9B%D1%83%D0%B8%D0%B4%D0%B6%D0%B8" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'куна'}">
            <p>Назван в честь Густава Броша, чешского лейтенанта флота Австро-Венгерской экспедиции на Северный полюс. Занимает центральную часть архипелага и входит в состав островов Зичи.</p>
            <p>Длина острова составляет 7,5 километра, а ширина – 3,5 километра. Наивысшая точка достигает 228 метров в высоту. </p>
            <p>Самая западная точка острова — мыс Головина, названный в честь Павла Головина, героя Советского Союза, первого из советских лётчиков пролетевшего над Северным полюсом. Самая восточная точка — мыс Обрывистый, назван так в связи с тем, что высота берега в этом месте достигает 90 метров.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D0%B2_%D0%9A%D1%83%D0%BD%D0%B0" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'столичка'}">
            <p>Остров назван именем австрийского биолога и путешественника Фердинанда Столички.</p>
            <p>Имеет пологий с одного берега спуск к морю, противоположный же берег наоборот — почти отвесные скалы.</p>
            <p>Сам по себе островок является давольно популярным лежбищем моржей, что привлекает белых медведей. Воды вокруг острова относительно не глубоки и прозрачны.</p>
            <p>Высшая точка острова — 81 метр.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%BE%D0%BB%D0%B8%D1%87%D0%BA%D0%B0_(%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2)" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'виннер-нойштадт'}">
            <p>Остров назван в честь города Винер-Нойштадт (нем. Wiener Neustadt), Австро-Венгерской арктической экспедицией Пайера-Вайпрехта.</p>
            <p>Большая часть острова покрыта ледяными куполами, крупнейший ледник — Форбса. Небольшие участки земли находятся в северной части острова, преимущественно состоящие из скалистых пород. Также суша свободна ото льда на побережье полуострова у мыса Васильева.</p>
            <p>Высшая точка острова — 620 метров (точка ледянного купола), земли — 545 м. Площадь – 237 км<sup>2</sup>.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BD%D0%B5%D1%80-%D0%9D%D0%BE%D0%B9%D1%88%D1%82%D0%B0%D0%B4%D1%82_(%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2)" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'галля'}">
            <p>Первый остров архипелага обнаруженный человеком. Был назван в честь выдающегося полярного американского исследователя Чарльза Фрэнсиса Холла (Галля). Его официальной датой открытия считается 30 августа 1873 года, когда к его берегам приблизилась Австро-Венгерская полярная экспедиция под началом Юлиуса Пайера и Карла Вайпрехта.</p>
            <p>Остров почти полностью покрывает ледник, на свободном ото льда южном побережье находятся два примечательных мыса — мыс Тегетхофф и мыс Франкфурт. </p>
            <p>На мысе Тегетхофф установлен памятник шхуне «Адмирал Тегетгофф», на которой Пайер с Вайпрехтом открыли архипелаг. В середине 90-х в окрестностях мыса была снята документальная лента о первооткрывателях островов.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D0%B2_%D0%93%D0%B0%D0%BB%D0%BB%D1%8F" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'хейса'}">
            <p>Был открыт в 1901 году экспедицией Болдуина-Циглера и назван в честь американского полярного исследователя Айзека Хейса.</p>
            <p>С лета 1957 года на острове расположена обсерватория имени Эрнста Кренкеля, являющаяся станцией ракетного зондирования атмосферы, с которй в период с ноября 1957 по декабрь 1990 года было совершено 1950 успешных запусков метеорологических ракет М-100 с высотой подъёма до 100 км.</p>
            <p>На острове можно увидеть потерпевший при посадке катастрофу самолет Ил-14, вёзший 12 февраля 1981 года оборудование и учёных для обсерватории.</p>
            <p>Также на территории с 2005 г., располагается самое северное в мире почтовое отделение: «Архангельск 163100».</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D0%B2_%D0%A5%D0%B5%D0%B9%D1%81%D0%B0" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'алджер'}">
            <p>Назван в честь американского писателя Горацио Элджера.</p>
            <p>Остров необитаемый и почти на половину (северо-западная часть) покрыт двумя ледниками.</p>
            <p>В юго-западной части находится его наивысшая точка, высота которой составляет 429 метров. В северо-западной части расположена гора Рихтгофена, высотой 404 метра.</p>
            <p>Вся территория, кроме юго-восточной песчаной части, покрыта льдом. Протекают небольшие ручьи. В центре есть озеро.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%B4%D0%B6%D0%B5%D1%80_(%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2)" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'рудольфа'}">
            <p>Открыт в 1873 году австро-венгерской экспедицией исследователя Юлиуса Пайера и назван по имени Рудольфа, кронпринца Австрии.</p>
            <p>Это самый северный из островов Земли Франца-Иосифа. В 1914 году на острове был похоронен полярный исследователь Георгий Яковлевич Седов, умерший во время экспедиции к Северному Полюсу. В 2003 году в память о нем на мысе Флигели установили лиственничный крест. Мыс назван в честь австрийского картографа Августа фон Флигели.</p>
            <p>В 1932 году в рамках программы Второго Международного Полярного года на острове Рудольфа была открыта Метеорологическая станция, в последствии переоборудованная в базу первой советской воздушной экспедиции на Северный полюс. Оттуда в мае 1937 года четыре тяжёлых четырёхмоторных самолёта АНТ-6 доставили папанинцев на вершину мира.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D0%B2_%D0%A0%D1%83%D0%B4%D0%BE%D0%BB%D1%8C%D1%84%D0%B0" target="_blank">Википедия</a></p>
          </island-text>
          <island-text ng-class="{'show': arcticData.current.island == 'белл'}">
            <p>Остров хорошо виден издали, за счёт центральной, похожей на колокол, горы. Именно поэтому первооткрыватель острова, британский иследователь Бенджамин Ли Смит, назвал его Белл (от англ. Bell — колокол)</p>
            <p>Гора расположена на юго-востоке острова, высота ее составляет 343 метра. Сам остров сложен песчаниками и галечниками. Также имеется едва заметная на фоне величавого соседа возвышенность в 21 метр на севере острова. У её подножия расположено небольшое озеро, на северном берегу которого располагается дом Эйры, названный в память о яхте того самого Бенджамина Ли Смита — «Эйра», раздавленной льдами у мыса Флора 21 августа 1881 года, и реинкарнированной членами экипажа уже в качестве вышеупомянутой постройки.</p>
            <p>С востока Белл отделён от соседнего острова Мейбела проливом Эйры. С северо-запада отделён проливом Найтингейл от острова Земля Георга. Глубины у побережья достигают 50 метров.</p>
            <p>Источник: <a href="https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D0%BB_(%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2)" target="_blank">Википедия</a></p>
          </island-text>
        </article>
      </page>
    </arctic-app>
  </div>

  <!-- Прелоадер -->
  <preloader>Загружается...</preloader>
  <!-- Безскриптовое предупреждение -->
  <noscript><div class="noscript">Ошибка:<br/><br/>Включите Javascript</div></noscript>

  <!-- Данные о точках панорам -->
  <script src="js/geo-data.js"></script>
  <!-- Twitter SDK -->
  <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
  <!-- Other SDK and metrics -->
  <script src="js/sdk_metrics.js"></script>
  <!-- Arctic app -->
  <script src="js/lib.min.js"></script>
  <script src="js/krpano.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>
