@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Serif+Caption:400,400italic|PT+Mono|PT+Serif:400,700,400italic,700italic|PT+Sans+Caption:400,700&subset=latin,cyrillic);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ah7sc4');
	src:url('../fonts/icomoon.eot?#iefix-ah7sc4') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ah7sc4') format('woff'),
		url('../fonts/icomoon.ttf?-ah7sc4') format('truetype'),
		url('../fonts/icomoon.svg?-ah7sc4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "\e605";
}
.icon-shuffle:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e600";
}
.icon-pin:before {
	content: "\e601";
}
.icon-play:before {
	content: "\e602";
}
.icon-share:before {
	content: "\e603";
}
.icon-text:before {
	content: "\e606";
}

.icon-facebook,
.icon-twitter,
.icon-vkontakte,
.icon-google {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/social-icons.png) no-repeat left top;
}
.icon-facebook.active,
.icon-twitter.active,
.icon-vkontakte.active,
.icon-google.active,
.icon-facebook:hover,
.icon-twitter:hover,
.icon-vkontakte:hover,
.icon-google:hover {
	background-color: #fefefe;
}
.icon-facebook { background-position: left top; }
.icon-twitter { background-position: -50px top; }
.icon-vkontakte { background-position: -100px top; }
.icon-google { background-position: -150px top; }
.icon-facebook.active,
.icon-facebook:hover { background-position: left bottom; }
.icon-twitter.active,
.icon-twitter:hover { background-position: -50px bottom; }
.icon-vkontakte.active,
.icon-vkontakte:hover { background-position: -100px bottom; }
.icon-google.active,
.icon-google:hover { background-position: -150px bottom; }


/*шрифты*/

body, button, input, textarea {
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*мелочи*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

q:before {
	content: "«";

}

q:after {
	content: "»";
}

.bordered-promo {
	padding: 40px 90px 50px 90px;
	border: solid rgba(255, 255, 255, 0.55) 4px;
}

small {
	font-size: 14px;
}

a {
	cursor: pointer;
}

button,
.button,
input[type="submit"] {
	line-height: 50px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #117dbd;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 0px;
	outline: none;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
	background-color: #0e6497;
}

button:active,
.button:active,
input[type="submit"]:active {
	top: 2px;
}

.icon {
	font-size: 30px;
	top: 6px;
	position: relative;
	vertical-align: top;
	position: relative;
}

small .icon {
	font-size: 23px;
	top: 4px;
}

h5 {
	font-weight: normal;
	color: #89b0cd;
	font-size: 13px;
	
}


/*окно*/
body, html {
	width: 100%;
	height: 100%;
}

.frame {
	min-width: 980px;
	min-height: 650px;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

/*старт*/
#start {
	width: 830px;
	position: absolute;
	left: 50%;
	margin-left: -415px;
	top: 0px;
	height: 100%;
	background: #115385 url(../images/welcome-bg.jpg) no-repeat center top;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	/*padding-bottom: 30px;*/
	padding-top: 40px;
	z-index: 100;
}

#start:after {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#start a {
	color: #fff;
}

#start article {
	display: inline-block;
	vertical-align: middle;
	width: 820px;
	text-align: center;
}

#start article h1 {
	background: url(../images/virtual-arctic-text.png) no-repeat center center;
	height: 135px;
	color: transparent;
	margin-bottom: 50px;
}

#start article .copyrights {
	margin-top: 60px;
}

#start article .bordered-promo {
	margin: 50px 145px 60px 145px;
	line-height: 25px;
	font-size: 18px;
	position: relative;
}

#start article .bordered-promo button {
	position: absolute;
	display: block;
	height: 50px;
	top: 100%;
	left: 50%;
	margin-left: -110px;
	margin-top: -25px;
}

#start article .bordered-promo button:active {
	margin-top: -23px;
}

#start button {
	width: 220px;
}

/*боковые панели*/
aside {
	position: absolute;
	top: 0px;
	bottom: 59px;
	width: 340px;
	background-color: rgba(17,83,133,0.95);
	padding: 20px 20px 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fefefe;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
	z-index: 20;
}

aside a {
	color: #fefefe;
}

aside p {
	margin-bottom: 24px;
}

aside .image {
	height: 200px;
	overflow: hidden;
	margin-left: -20px;
	margin-top: -20px;
	margin-right: -20px;
}

aside p.image img {
	display: block;
	width: 100%;
}

#about-info {
	right: 0px;
}

#share {
	right: 0px;
}

#share .image {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	height: auto;
}

#share input[type="text"] {
	background-color: transparent;
	padding: 0;
	line-height: 24px;
	height: 24px;
	border-bottom: solid 1px;
	color: #fefefe;
	width: 100%;
}

#share input[type="text"]:focus {
	color: #222;
	background-color: #fefefe
}

#share textarea {
	background-color: transparent;
	padding: 0px;
	line-height: 24px;
	height: 80px;
	border-bottom: solid 1px;
	width: 100%;
	color: #fefefe;
}

#share textarea:focus {
	color: #222;
	background-color: #fefefe;
}

#choose-places {
	right: 0px;
	bottom: 59px;
	height: auto;
	padding: 0;
	overflow-y: auto;
}


#choose-places ul {
	list-style: none;
}

#choose-places li {
	position: relative;
	height: 25%;
	overflow: hidden;
}

#choose-places li a:before {
	content: " ";
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8f000000',GradientType=0 ); /* IE6-9 */

}

#choose-places img {
	width: 100%;
	display: block;
}

#choose-places .title {
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}


/*панорама*/
#panorama {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}

/*меню*/
#menu {
	position: absolute;
	z-index: 50;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	color: #fff;
}

#menu a label {
	position: absolute;
	left: 50%;
	top: -25px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	color: #fefefe;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(17,83,133,1);
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	-webkit-transition-delay: 0.0s;
	-moz-transition: all 0.4s ease-out;
	-moz-transition-delay: 0.0s;
	transition: all 0.4s ease-out;
	transition-delay: 0.0s;
	z-index: 5;
	white-space: nowrap;
}

#menu a:hover label {
	display: block;
	opacity: 1;
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

#menu a {
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 27px;
	color: rgba(255,255,255,1);
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#menu a.menu {
	background-color: rgba(17,83,133,0.95);
	position: absolute;
	left: -60px;
	top: 0px;
}

#menu a.menu label {
	left: 0px;
	width: 60px;
}

#menu.toggle-on a.menu {
	left: 0px;
}

#menu a.menu.toggle-on {
	background-color: rgba(6,42,70,0.95);
}

#menu a.share {
	background-color: rgba(17,83,133,0.95);
	position: absolute;
	right: -60px;
	top: 0px;
}

#menu a.share label {
	left: auto;
	right: 0px;
}

#menu a:hover {
	background-color: rgba(16,68,107,0.95); /*rgba(0,119,175,0.95);*/
}

#menu.toggle-on a.share {
	right: 0px;
	border-left: solid rgba(17,83,133,0.8) 1px;
}

#menu-panel {
	position: absolute;
	left: 0px;
	right: 120px;
	bottom: 0px;
	height: 60px;
	line-height: 60px;
	opacity: 0.0;
	background-color: rgba(17,83,133,0.95);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#menu-panel.toggle-on {
	left: 60px;
	right: 60px;
	opacity: 1.0;
}

#menu-panel > * {
	display: block;
}

#menu-panel a.toggle-on,
#menu a.share.toggle-on {
	background-color: rgba(247,247,247, 1);
	color: rgba(17,83,133,0.95);
}

#menu-panel a.toggle-on:hover,
#menu a.share.toggle-on:hover {
	background-color: rgba(204,204,204, 1);
}

#menu-panel a:after,
#menu a.share:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-bottom: solid rgba(247,247,247, 1) 10px;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -10px;
	opacity: 0.0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#menu-panel a.toggle-on:after,
#menu a.share.toggle-on:after {
	opacity: 1.0;
}

#menu-panel a.toggle-on:hover:after,
#menu a.share.toggle-on:hover:after {
	border-bottom: solid rgba(204,204,204, 1) 10px;
}

#menu-panel .map {
	position: absolute;
	left: 0;
	top: 0;
	border-right: solid rgba(255,255,255,0.2) 1px;
}

#menu-panel .map label {
	width: 60px;
	left: 0px;
}

#menu-panel header {
	margin-left: 60px;
	margin-right: 240px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#menu-panel .about {
	position: absolute;
	right: 0;
	top: 0;
}

#menu-panel .about label {
	margin-left: -40px;
	width: 80px;
}

#menu-panel .slideshow {
	position: absolute;
	right: 60px;
	top: 0;
}

#menu-panel .slideshow label {
	width: 80px;
	margin-left: -40px;
}

#menu-panel .random {
	position: absolute;
	right: 120px;
	top: 0;
}

#menu-panel .random label {
	width: 140px;
	margin-left: -70px;
}

#menu-panel .places {
	position: absolute;
	right: 180px;
	top: 0;
	border-right: solid rgba(255,255,255,0.2) 1px;
}

#menu-panel .places label {
	width: 170px;
	margin-left: -85px;
}

/*переключатели*/
*[data-toggle-group="screen"] {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	display: none;
}

*[data-toggle-group="screen"].toggle-on {
	z-index: 10;
	display: block;
}

*[data-toggle-group="aside"] {
	display: none;
}

*[data-toggle-group="aside"].toggle-on {
	z-index: 20;
	display: block;
}

*[data-toggle-group="map"].toggle-on {
	z-index: 15;
	display: block;
	opacity: 1.0;
}

/*острова*/
.island-map {
	position: absolute;
	left: 340px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: auto;
	background-color: #8bb4c8;
	display: none;
	z-index: 0;
}

.island-map.toggle-on {
	z-index: 10;
}

.island-info {
	overflow-y: auto; 
	left: -340px;
}

.island-map .back-to-archipelago {
	position: absolute;
	right: 30px;
	bottom: 90px;
	width: 190px;
	height: 130px;
	text-indent: -9999px;
	overflow: hidden;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
	background: rgb(134,175,199); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(134,175,199,1) 0%, rgba(148,192,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,175,199,1)), color-stop(100%,rgba(148,192,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(134,175,199,1) 0%,rgba(148,192,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(134,175,199,1) 0%,rgba(148,192,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(134,175,199,1) 0%,rgba(148,192,201,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(134,175,199,1) 0%,rgba(148,192,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86afc7', endColorstr='#94c0c9',GradientType=0 ); /* IE6-9 */
}

.island-map .back-to-archipelago:hover {
	background: rgb(109,142,160); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,142,160,1) 0%, rgba(118,154,161,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,142,160,1)), color-stop(100%,rgba(118,154,161,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,142,160,1) 0%,rgba(118,154,161,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,142,160,1) 0%,rgba(118,154,161,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,142,160,1) 0%,rgba(118,154,161,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,142,160,1) 0%,rgba(118,154,161,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d8ea0', endColorstr='#769aa1',GradientType=0 ); /* IE6-9 */

}

.island-map .back-to-archipelago:before {
	content: " ";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 130px;
	background: url(../images/small-archipelago.png) no-repeat center center;
}

/*фоторама*/
.fotorama__arr {
	width: 80px;
	height: 80px;
	margin-top: -40px;
}

.fotorama__arr.fotorama__arr--prev {
	background: url(../images/arrow-left.svg) no-repeat center center;
}

.fotorama__arr.fotorama__arr--next {
	background: url(../images/arrow-right.svg) no-repeat center center;
}

/*карта*/
#map {
	background-color: #8bb4c8;
	display: block;
}

#map-canvas {
	width: 100%;
	height: 100%;	
}

#map tspan[font-family="'PTSans-Regular'"],
#map text[font-family="'PTSans-Regular'"] {
	font-family: "PT Sans";
	font-weight: normal;
}

#map tspan[font-family="'PTSans-Bold'"],
#map text[font-family="'PTSans-Bold'"] {
	font-family: "PT Sans";
	font-weight: bold;
}

#islands-active g {
	cursor: pointer;
}

#islands-active g[id] > path {
	-webkit-transition: all 0.125s ease-out;
	-moz-transition: all 0.125s ease-out;
	transition: all 0.125s ease-out;
	fill: #eae9dc;
}

#islands-active g[id]:hover > path {
	fill: #ead5ba;
}

#islands-active g[id] .islands-current {
	display: none;
}

#islands-active g[id].current .islands-current {
	display: block;
}
