@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ah7sc4');
	src:url('fonts/icomoon.eot?#iefix-ah7sc4') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ah7sc4') format('woff'),
		url('fonts/icomoon.ttf?-ah7sc4') format('truetype'),
		url('fonts/icomoon.svg?-ah7sc4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-star:before {
	content: "\e605";
}
.icon-icon-shuffle:before {
	content: "\e604";
}
.icon-icon-menu:before {
	content: "\e600";
}
.icon-icon-pin:before {
	content: "\e601";
}
.icon-icon-play:before {
	content: "\e602";
}
.icon-icon-share:before {
	content: "\e603";
}
.icon-icon-text:before {
	content: "\e606";
}
