/* font-family: "gothamproregular"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamproregular/gothamproregular.eot");
    src: url("../fonts/gothamproregular/gothamproregular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamproregular/gothamproregular.woff") format("woff"),
    url("../fonts/gothamproregular/gothamproregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "gothamprobold"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamprobold/gothamprobold.eot");
    src: url("../fonts/gothamprobold/gothamprobold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamprobold/gothamprobold.woff") format("woff"),
    url("../fonts/gothamprobold/gothamprobold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/* font-family: "gothamprolight"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamprolight/gothamprolight.eot");
    src: url("../fonts/gothamprolight/gothamprolight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamprolight/gothamprolight.woff") format("woff"),
    url("../fonts/gothamprolight/gothamprolight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* font-family: "gothampromedium"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothampromedium/gothampromedium.eot");
    src: url("../fonts/gothampromedium/gothampromedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothampromedium/gothampromedium.woff") format("woff"),
    url("../fonts/gothampromedium/gothampromedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

