@charset "utf-8";

html {
	font-size: 62.5%;
	/*height: 100%; */
}

body {
	font-family: "Gotham Pro", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	line-height: 2.5rem;
	font-weight: 300;
	/*height: 100%;*/
	/*padding-bottom: 40px;*/
}

* {
	cursor: default;
}

a {
	cursor: pointer;
}

a * {
	cursor: inherit;
}



/* 	ЦВЕТА
 *
 *	Голубой темный rgba(54, 74, 106, 0.95)
 *	Голубой светлый rgba(17, 83, 133, 0.95)
 */


/* 	Типографика */

a {
	color: rgba(255, 255, 255, 0.9);
}

p {
	margin: 2rem 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

h1 {
	font-weight: 200;
	font-size: 3.6rem;
	line-height: 4rem;
}

/* 	Иконки */

img[src*="icon-"] {
	vertical-align: middle;
	position: relative;
	top: -0.1em;
}

/*	Кнопки */

.button {
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 1.5rem;
	line-height: 2rem;
	box-sizing: border-box;
	line-height: 4.5rem;
	height: 4.5rem;
	padding: 0 0.5rem;
	width: 20rem;
	color: rgba(255, 255, 255, 0.9);
	background-color: #07bc72;
	display: inline-block;
	cursor: pointer;
}

.button * {
	cursor: pointer;
}

.button.green {
	background-color: #07bc72;
}

.button.green:hover {
	background-color: #2cd690;
}

.button.blue {
	background-color: #117dbd;
}

.button.blue:hover {
	background-color: #2f9ee0;
}


/*	Приложение */

body {
	min-width: 320px;
	background-color: rgba(255, 255, 255, 1);
}

arctic-app {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	/*right: 0;*/
	/*bottom: 0;*/
	width: 100%;
	height: 100%;
	min-width: 320px;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(54, 74, 106, 0.95);
}

arctic-app[class*="-add"] {
	transition: all 0s;
}

arctic-app[class*="-add"][class*="-add-active"] {
	transition: all 0.3s;
}

arctic-app[class*="-remove"] {
	transition: all 0s;
}

arctic-app[class*="-remove"][class*="-remove-active"] {
	transition: all 0.3s;
}

arctic-app.island-add,
arctic-app.share-add {
	transition: all 0s;
}

arctic-app.island-add.island-add-active,
arctic-app.share-add.share-add-active {
	transition: all 0.1s;
}

arctic-app.island-remove,
arctic-app.share-remove {
	transition: all 0s;
}

arctic-app.island-remove.island-remove-active,
arctic-app.share-remove.share-remove-active {
	transition: all 0.1s;
}

/* Невидимость перед полной загрузкой */

.invisible-before-full-load {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.invisible-before-full-load.invisible {
	opacity: 0;
}


/* 	Страница */

page {
	position: absolute;
	left: 0;
	top: 0;
	/*right: 0;*/
	/*bottom: 0;*/
	width: 100%;
	height: 100%;
	min-width: 320px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
	z-index: 1;
}

page close {
	width: 4.8rem;
	height: 4.8rem;
	display: block;
	position: fixed;
	left: 100%;
	margin-left: -6rem;
	top: 0.8rem;
	padding-top: 1.2rem;
	padding-left: 1.2rem;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1;
}

page close * {
	cursor: pointer;
}

page close img {
	width: 2.4rem;
	height: 2.4rem;
	display: block;
	top: 0 !important;
}

page close.highlight {
	background-color: rgba(4, 50, 85, 0.95);
	border-radius: 50%;
}


@media all and (min-width: 1024px) {
	page {
		box-sizing: border-box;
		padding-right: 5px;
	}

	page::-webkit-scrollbar {
	    width: 7px;
	    /*margin-top: 5rem;*/
	}

	page::-webkit-scrollbar-track {
	    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	    /*-webkit-border-radius: 10px;*/
	    /*border-radius: 10px;*/
	    /*background: rgba(4, 50, 85, 0.95);*/
	}

	page::-webkit-scrollbar-track {
		margin-top: 6.5rem;
		margin-bottom: 0.5rem;
	}

	page::-webkit-scrollbar {
		margin-top: 6.5rem;
		margin-bottom: 0.5rem;
	}

	page::-webkit-scrollbar-thumb {
	    background: rgba(4,50,85,0.8);
	    border-top-right-radius: 15px;
	    border-bottom-right-radius: 15px;
	    border-top-left-radius: 15px;
	    border-bottom-left-radius: 15px;
	}

	page::-webkit-scrollbar-thumb:window-inactive {
		/*background: rgba(4, 50, 85, 0.95);*/
	}
}





page article {
	display: block;
	box-sizing: border-box;
	padding: 2rem 2rem;
	min-height: 100%;
}

@media all and (min-width: 1024px) {
	page article {
		padding-top: 8rem;
	}
}

.return-to-panorama {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	/*background-color: rgba(255,255,0, 0.7);*/
	/*display: none;*/
}

arctic-app.panorama .return-to-panorama {
	display: none;
}

.noscript {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	color: #ffffff;
}
