arctic-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
/*	width: 60px;
	height: 60px;
	overflow: hidden;*/

}

arctic-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: rgba(17, 83, 133, 1);
	display: block;
	padding-top: 6rem;
	padding-bottom: 2rem;
	box-sizing: border-box;
	position: relative;
	z-index: 101;
	/*transition: transform 0.2s ease-out, opacity 0.4s ease-out;*/
}

arctic-menu ul li {
	line-height: 7rem;
	height: 7rem;
	font-size: 1.8rem;
	white-space: nowrap;
}

arctic-menu ul li a {
	text-decoration: none;
	display: block;
	padding: 0 2rem 0 2rem;
	cursor: pointer;
}

arctic-menu ul li:active,
arctic-menu ul li:hover,
arctic-menu ul li.active {
	background-color: #043255;
}

arctic-menu ul li img,
arctic-menu ul li svg {
	height: 2.4rem;
	vertical-align: middle;
	margin-right: 1rem;
}

arctic-menu toggle {
	cursor: pointer;
	width: 4.8rem;
	height: 4.8rem;
	padding-top: 1.2rem;
	padding-left: 1.2rem;
	display: block;
	box-sizing: border-box;
	position: absolute;
	left: 0.8rem;
	top: 0.8rem;
	z-index: 102;
}

arctic-menu toggle * {
	cursor: pointer;
}

arctic-menu toggle img,
arctic-menu toggle svg {
	width: 2.4rem;
	height: 2.4rem;
	display: block;
	top: 0 !important;
}

/*.panorama arctic-menu:not(.opened) toggle {
	background-color: rgba(4, 50, 85, 0.2);
	border-radius: 50%;
}*/

arctic-menu:not(.opened) toggle.highlight {
	background-color: rgba(4, 50, 85, 0.95);
	border-radius: 50%;
}

arctic-menu toggle .close,
arctic-menu.menu-opened toggle .open {
	display: none;
}

arctic-menu toggle .open,
arctic-menu.menu-opened toggle .close {
	display: block;
}

arctic-app:before {
	content: " ";
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s;
	background-color: rgba(17, 83, 133, 0.625);
}

arctic-menu ul li.fullscreen {
	display: none;
}

html[user-agent*="iPad"] arctic-menu ul li.fullscreen,
html[user-agent*="iPhone"] arctic-menu ul li.fullscreen,
html[user-agent*="Android"] arctic-menu ul li.fullscreen {
	display: none;
}

/*arctic-menu .additional {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	display: none;
}

arctic-app:not(.panorama) arctic-menu .additional {
	display: none;
}*/

/*arctic-menu .additional a {
	background-color: red;
	display: inline-block;
	vertical-align: top;
}*/

arctic-menu .text:before {
	content: attr(mobile-text);
}

@media all and (min-width: 768px) {
	arctic-menu .text:before {
		content: attr(desktop-text);
	}
}

/*	Animation */

arctic-app:not(.home) arctic-menu {
	display: block;
}

arctic-app.home-add arctic-menu {
	display: block;
	opacity: 1;
}

arctic-app.home-add.home-add-active arctic-menu {
	opacity: 0;
	transition: opacity 0.4s;
}

arctic-app.home-remove arctic-menu {
	display: block;
	opacity: 0;
}

arctic-app.home-remove.home-remove-active arctic-menu {
	opacity: 1;
	transition: opacity 0.4s;
}

arctic-menu[class*="-add"] {
	transition: all 0s;
}

arctic-menu[class*="-add"][class*="-add-active"] {
	transition: all 0.4s;
}

arctic-menu[class*="-remove"] {
	transition: all 0s;
}

arctic-menu[class*="-remove"][class*="-remove-active"] {
	transition: all 0.4s;
}

/*	Анимация открытия/закрытия меню */

arctic-menu.opened-add {
	right: 0;
	bottom: 0;
}

arctic-menu.opened-add ul {
	transition: all 0s;
}

@media all and (orientation: portrait) and (max-width: 1024px) {

	arctic-menu:not(.opened) ul {
		overflow: hidden;
		height: 0;
		width: 0;
	}

	arctic-menu.opened ul,
	arctic-menu.opened-add ul,
	arctic-menu.opened-remove ul {
		overflow: visible;
		height: auto;
		width: auto;
	}

	arctic-menu.opened {
		/*width: 100%;*/
/*		display: flex !important;
		flex-direction: column;*/
	}

	arctic-menu ul {
		width: 100%;
		transform: translateY(-100%) translateX(0);
	}

	arctic-menu.opened-add ul {
		width: 100%;
	}

	arctic-menu.opened-add,
	arctic-menu.opened-remove,
	arctic-menu.opened {
		height: 100%;
		width: 100%;
		overflow: visible;
		min-height: 100%;
	}
}

@media all and (orientation: landscape) {
	arctic-menu:not(.opened) ul {
		overflow: hidden;
		height: 0;
		width: 0;
	}
	arctic-menu.opened ul,
	arctic-menu.opened-add ul,
	arctic-menu.opened-remove ul {
		overflow: visible;
		min-height: 100%;
		width: auto;
	}

	arctic-menu.opened,
	arctic-menu.opened-add,
	arctic-menu.opened-remove {
		height: 100%;
		overflow: visible;
		width: auto;
	}


	arctic-menu ul {
		float: left;
		min-height: 100%;
		transform: translateY(0) translateX(-100%);
		/*overflow-y: auto;*/
		/*-webkit-overflow-scrolling: touch;*/
	}

	arctic-menu ul li a {
		padding-right: 3rem;
	}

	arctic-app.panorama arctic-menu.opened .additional {
		display: none;
	}
}


arctic-menu.opened ul,
arctic-menu.opened-add.opened-add-active ul {
	transition: transform 0.3s;
	transform: translateY(0) translateX(0);
}



@media all and (orientation: portrait) {
	arctic-menu.opened-remove.opened-remove-active ul {
		transition: transform 0.3s;
		transform: translateY(-100%) translateX(0);
	}
}

@media all and (orientation: landscape) {
	arctic-menu.opened-remove.opened-remove-active ul {
		transition: transform 0.3s;
		transform: translateY(0) translateX(-100%);
	}
}

/*	Анимация подложки под меню */

arctic-app.menu-opened-add:before {
	opacity: 0;
	z-index: 99;
	visibility: visible;
	transition: opacity 0s;
}

arctic-app.menu-opened:before,
arctic-app.menu-opened-add.menu-opened-add-active:before {
	opacity: 1;
	visibility: visible;
	z-index: 99;
	transition: opacity 0.3s;
}

arctic-app.menu-opened-remove:before {
	opacity: 1;
	z-index: 99;
	visibility: visible;
	transition: opacity 0s;
}

arctic-app.menu-opened-remove.menu-opened-remove-active:before {
	opacity: 0;
	transition: opacity 0.3s;
}


@media all and (max-height: 400px) {
	arctic-menu.opened {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	arctic-menu.opened ul {
		position: static;
	}
}

@media all and (min-width: 1024px) {
	arctic-menu toggle {
		display: none;
	}

	arctic-menu {
		width: 100%;
		right: 0;
		height: 6rem !important;
		/*overflow: visible !important;*/
	}

	arctic-menu ul,
	arctic-menu.menu-opened ul {
		transform: none;
		/*position: static;*/
		float: none;
		width: 100% !important;
		padding: 0;
		height: 6rem;
		display: flex;
		overflow: visible !important;
	}

	arctic-menu ul li {
		line-height: 6rem;
		height: 6rem;
		padding: 0;
		border-right: solid rgba(54, 74, 106, 0.95) 1px;
		font-size: 1.6rem;
	}

	arctic-menu ul li a {
		padding: 0 2rem;
	}

	arctic-menu ul li.slideshow {
		border-right: none;
		margin-left: auto;
		border-left: solid rgba(54, 74, 106, 0.95) 1px;
	}

	arctic-menu ul li.fullscreen {
		display: block;
		border-left: solid rgba(54, 74, 106, 0.95) 1px;
	}

	arctic-menu ul li.fullscreen img[src*="icon-"] {
		margin-right: 0;
	}

	arctic-menu ul li img,
	arctic-menu ul li svg {
		margin-right: 2rem;
	}
}



/*	Чтоб влезло меню */

@media all and (orientation: portrait) and (max-height: 480px) {
	arctic-menu ul li {
		line-height: 4.375rem;
		height: 4.375rem;
		font-size: 1.5rem;
	}

	arctic-menu ul li img {
		height: 1.8rem;
	}

	arctic-menu info {
		padding-top: 1.5rem !important;
	}

	arctic-menu info island,
	arctic-menu info share {
		font-size: 1.375rem;
	}

	arctic-menu info island-title {
		font-size: 2rem;
	}
}