
arctic-progress {
	display: block;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	visibility: hidden;
}

arctic-progress .bar {
	display: block;
	height: 2px;
	width: 0%;
	background-color: rgba(7, 188, 114, 1.0);
}

info arctic-progress {
	margin-top: 2rem;
}

arctic-app.panorama > info arctic-progress,
arctic-menu arctic-progress {
	visibility: visible;
}

arctic-app.panorama > info arctic-progress {
	width: 450px;
}