
input, textarea {
	border: 0;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.9);
	outline: none;
	line-height: 1.625rem;
	font-size: 1.25rem;
	padding: 0.5rem 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-bottom: solid 1px;
}

label {
	display: block;
	opacity: 0.5;
	font-size: 90%;
}

.form-field {
	margin: 1.5rem 0;
}

textarea {
	resize: none;
	height: 4.3rem;
}