arctic-app.share page.share {
	opacity: 1;
	z-index: 1;
	box-sizing: border-box;
}

arctic-share {
	display: block;
}

page.share article {
	background-color: rgba(17, 83, 133, 1);
	padding-top: 6rem;
	padding-right: 4rem;
	/*background-color: rgba(4, 50, 85, 0.95);*/
}

page.share island-text {
	display: none;
}

page.share island-text.show {
	display: block;
	margin-top: 3rem;
}

page.share .url {
	background-color: rgba(255, 255, 255, 0.8);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	border-radius: 4px;
	color: rgba(4, 50, 85, 1.0);
	font-weight: 400;
	word-wrap: break-word;
	border-bottom: 0;
	height: auto;
}

@media all and (min-width: 480px) {
	page.share article {
		/*padding-left: 3.5rem;*/
		/*padding-right: 3.5rem;*/
	}
}

@media all and (min-width: 768px) {
	page.share {
		max-width: 560px;
	}

	page.share article {
		padding-top: 8rem;
	}

	page.share close {
		left: 560px;
	}
}

@media all and (min-width: 640px) {
	page.share .url {
		/*height: 4.7rem;*/
	}
}

@media all and (min-width: 1024px) {
	page.share {
		max-width: 560px;
	}

	page.share close {
		top: 6.8rem;
		left: 550px;
	}

	page.share  article  {
		background-color: rgba(4,50,85,1) !important;
		padding-bottom: 24rem;
		box-sizing: border-box;
	}

	page.share::-webkit-scrollbar-track {
		margin-bottom: 24.5rem;
	}

	page.share::-webkit-scrollbar {
		margin-bottom: 24.5rem;
	}
}


/*	Animation */
arctic-app page.share arctic-share {
	opacity: 0;
	/*transition: opacity 0.2s;*/
}

arctic-app.share page.share {
	display: block;
}

arctic-app.share:not(.share-add-active) page.share arctic-share {
	opacity: 1;
}

arctic-app.share:not(.share-add-active):not(.island-remove-active) page.share arctic-share {
	transition: opacity 0.1s;
}

arctic-app.share-add page.share {
	display: block;
	opacity: 0;
}

arctic-app.share-add.share-add-active page.share {
	opacity: 1;
	transition: opacity 0.1s;
}

arctic-app.share-remove page.share {
	display: block;
	opacity: 1;
}

arctic-app.share-remove.share-remove-active page.share {
	opacity: 0;
	transition: opacity 0.1s;
}

arctic-app.share-remove page.share arctic-share {
	opacity: 0;
}

arctic-app.share-remove.share-remove-active.island-add page.share {
	opacity: 1;
	transition: opacity 0.1s;
}