page.panorama {
	padding: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	background-color: rgba(0, 0, 0, 1);
	display: block;
}

page.panorama controls {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.7s;
	background-color: rgba(0,0,0,0.3);
	height: 4rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
}

arctic-app.panorama.menu-opened page.panorama controls {
	visibility: hidden;
}

arctic-app.panorama page.panorama controls {
	opacity: 1;
	visibility: visible;
}


page.panorama controls prev,
page.panorama controls next {
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 4rem;
	height: 4rem;
	display: block;
	cursor: pointer;
}

page.panorama controls prev:hover,
page.panorama controls next:hover {
	background-color: #07bc72;
}

page.panorama controls prev *,
page.panorama controls next * {
	cursor: pointer;
}

page.panorama controls img[src*="icon-"] {
	height: 2rem;
}

page.panorama controls img[src*="icon-"]:first-child {
	margin-right: 1rem;
}

page.panorama controls img[src*="icon-"]:last-child {
	margin-left: 1rem;
}

#arctic-panorama-container {
	height: 100%;
}

#krpanoSWFObject {
	display: block;
	height: 100%;
	width: 100%;
}

@media all and (max-width: 400px) {
	page.panorama controls label {
		font-size: 1.2rem;
	}

	page.panorama controls img[src*="icon-"] {
		height: 1.5rem;
	}
}

/*	Фулскрин */

:-webkit-full-screen {
  /* properties */
}

:-moz-full-screen {
  /* properties */
}

:-ms-fullscreen {
  /* properties */
}

:full-screen { /*pre-spec */
  /* properties */
}

:fullscreen { /* spec */
  /* properties */
}

/* deeper elements */
:-webkit-full-screen .panorama {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
::backdrop {
  /* properties */
}
::-ms-backdrop {
  /* properties */
}

