page.home {
	background-color: #134571;
	background: #134571 url(../images/home-background.png) no-repeat center top;
	background: url(../images/home-background.png) no-repeat, linear-gradient(to bottom,  #172c4e 0%,#115385 100%);
	/*background-position: center -70px, center top;*/
	background-size: 100% auto, auto;
	max-width: 830px;
	width: 100%;
	left: 0;
	/*transform: translateX(-50.5%);*/
}

page.home article {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

@media all and (min-height: 530px) {
	page.home article {
		justify-content: center;
	}
}

/* 	Шапка */

page.home header {
	margin-top: 0rem;
}


page.home header .virtual-arctic {
	display: block;
	width: 90%;
	margin: 0 auto;
}

@media all and (orientation: landscape) and (min-height: 320px) {
	page.home header {
		margin-top: 1rem;
	}
}

@media all and (orientation: landscape) {
	page.home header .virtual-arctic {
		max-width: 320px;
	}
}

@media all and (orientation: landscape) and (min-height: 400px) {
	page.home header {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}

@media all and (min-height: 530px) {
	page.home header {
		margin-top: 5rem;
	}
}

@media all and (min-height: 760px) {
	page.home header {
		margin-top: 10rem;
	}
}

@media all and (min-width: 650px) {
	page.home header .virtual-arctic {
		max-width: 420px;
		width: auto;
	}
}

@media all and (min-height: 700px) and (min-width: 640px) {
	page.home header .virtual-arctic {
		width: auto;
		max-width: none;
	}
}

@media all and (min-width: 830px) {
	page.home {
		left: 50%;
		margin-left: -415px;
	}
}


/* 	Подвал */

page.home footer {
	font-size: 1.2rem;
	line-height: 1.75rem;
	margin-left: auto;
	margin-right: auto;
}

page.home footer a {
	white-space: nowrap;
}

page.home footer > * {
	display: inline;
}

page.home footer > *:last-child {
	/*display: block;*/
}

@media all and (min-width: 450px) {
	page.home footer {
		max-width: 450px;
	}
}

@media all and (min-width: 640px) {
	page.home footer {
		font-size: 1.4rem;
		line-height: 2rem;
		max-width: 500px;
	}
}

/* 	Контент */

page.home main {
	border: solid #9cafc9 4px;
	margin: 3rem -2.5rem 11rem -2.5rem;
	box-sizing: border-box;
	padding: 1.25rem 2.5rem;
	position: relative;
	/*max-width: 350px;*/
}

page.home main .promo {
	font-size: 1.6rem;
	line-height: 2.1rem;
	margin-bottom: 0;
}

page.home main .promo br {
	display: none;
}

page.home main .stats  {
	display: flex;
	font-weight: normal;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}

page.home main .stats span {
	width: 50%;
	font-size: 1.4rem;
	display: block;
	white-space: nowrap;
}

page.home main .stats span:first-child {
	text-align: left;
}

page.home main .stats span:last-child {
	text-align: right;
}

page.home main img[src*="icon-"] {
	height: 2.4rem;
}

page.home main .actions .button:first-child {
	position: absolute;
	bottom: -2.5rem;
	left: 50%;
    transform: translateX(-50%);
}

page.home main .actions .button:last-child {
	position: absolute;
	bottom: -8.5rem;
	left: 50%;
    transform: translateX(-50%);
}

page.home main .actions .start .text:before {
	content: attr(start-text);
}

page.home.started main .actions .start .text:before {
	content: attr(continue-text);
	white-space: nowrap;
	font-size: 85%;
}

page.home main .actions .map .text:before {
	content: attr(mobile-text);
}

@media all and (min-width: 350px) {
	page.home main .stats span:first-child,
	page.home main .stats span:last-child {
		text-align: center;
	}
}

@media all and (min-width: 400px) {
	page.home main {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (min-width: 450px) {
	page.home main {
		max-width: 450px;
		margin-bottom: 6rem;
	}

	page.home main .actions {
		position: relative;
		display: flex;
		justify-content: center;
		margin-left: -2.5rem;
		margin-right: -2.5rem;
		margin-bottom: -3.5rem;
	}

	page.home main .actions .button:first-child {
		position: static;
		margin: 0 0.5rem;
		/*bottom: -2.5rem;*/
		/*left: auto;*/
	    transform: translateX(0);
	}

	page.home main .actions .button:last-child {
		position: static;
		margin: 0 0.5rem;
		/*bottom: -2.5rem;*/
		/*left: auto;*/
	    transform: translateX(0);
	}
}

@media all and (min-width: 640px) {
	page.home main {
		max-width: 520px;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	page.home main .promo {
		font-size: 1.8rem;
		line-height: 2.5rem;
	}

	page.home main .promo br {
		display: block;
	}

	page.home main .stats {
		margin-top: 2rem;
	}

	page.home main .actions {
		margin-bottom: -5.5rem;
	}

	page.home main .stats img[src*="icon-"] {
		height: 3.2rem;
	}

	page.home main .actions img[src*="icon-"] {
		height: 2.7rem;
	}

	page.home main .button {
		height: 5rem;
		line-height: 5.25rem;
		width: 22rem;
	}
}

@media all and (min-height: 640px) and (min-width: 640px) {
	page.home main {
		margin-top: 4rem;
		margin-bottom: 9rem;
	}

	page.home main .stats {
		margin-top: 3rem;
		margin-bottom: 3.5rem;
	}
}

@media all and (min-height: 640px) and (min-width: 640px) and (orientation: portrait) {
	page.home main {
		margin-top: 6rem;
		margin-bottom: 15rem;
	}
}

@media all and (min-width: 768px) {
	page.home main .actions .map .mobile {
		display: none;
	}

	page.home main .actions .map .text:before {
		content: attr(desktop-text);
	}

	page.home.started main .actions .start {
		width: 25rem;
		transition: width 0.5s;
	}

	page.home.started main .actions .start .text:before {
		/*content: attr(continue-text);*/
		/*white-space: nowrap;*/
		font-size: 100%;
	}
}


/*	Animation */

arctic-app.home page.home {
	display: block;
}

arctic-app.home-add page.home {
	display: block;
	opacity: 0;
}

arctic-app.home-add.home-add-active page.home {
	opacity: 1;
	transition: opacity 0.4s;
}

arctic-app.home-remove page.home {
	display: block;
	opacity: 1;
}

arctic-app.home-remove.home-remove-active page.home {
	opacity: 0;
	transition: opacity 0.7s;
}