preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	font-family: "Gotham Pro";
	/*color: rgba(255, 255, 255, 0.9);*/
	transform: translateX(-50%) translateY(-50%);
}