
share-links > * {
	padding: 0.5rem 2rem;
	text-align: center;
	width: 4rem;
	display: inline-block;
	margin: 0.5rem 0.5rem 0.5rem 0;
	border-radius: 0.3rem;
	/*border: solid rgba(0,0,0,0.3) 1px;*/
	cursor: pointer;
	background-color: rgba(4,50,85,1);
	/*background-color: rgba(17,83,133,1);*/
	text-decoration: none;
}

share-links > * * {
	cursor: pointer;
}

@media all and (min-width: 1024px) {
	share-links > * {
		background-color: rgba(17,83,133,1);
	}
}